production:
  solr:
    hostname: index.websolr.com
    port: 80
    log_level: WARNING
    path: /solr/0ed96bd7c05
    # read_timeout: 2
    # open_timeout: 0.5

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    path: /solr/development

test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
    path: /solr/test
    
