
<% if notice %>
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert%>
  <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= alert %>
  </div>
<% end %>
